<!doctype html>
<head>
	<title>Gymx</title>
	<meta name="viewport" content="width=device-width, initial scale=1">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" type="text/css" href="responsive.css">
</head>
<body>

<section>
<div id="wrapper">
	
	<header>
	<div id="top">
	
		<div id="logo">
			<h1>GYMX</h1>
		</div>

		<nav>
		<div id="menu">
	
			<ul>
				<li class="active"><a href="#"><span class="act">HOME</span></a></li>
				<li><a href="#">ABOUT US</a></li>
				<li><a href="#">COACHES</a></li>
				<li><a href="#">GALLERY</a></li>
				<li><a href="#">NUTRITION</a></li>
				<li><a href="#">CONTACT US</a></li>
			</ul>
	
		</div>
		</nav>
		
		<div class="clr"></div>

	</div>
	</header>

	<section>
	<div id="banner">
	
		<img src="images\banner6.jpg" alt="banner" width="100%"/>
	
		<div id="bannertxt">
			<h1>BEAUTIFUL AND FLEXIBLE</h1>
		</div>

	</div>
	</section>

	<article>
	<div id="feature">
		
		<div class="one mar">
			<div class="lefticon"> <a href="#"><img src="images\icon1.png" alt="icon"/></a>
			</div>
		
			<div class="lside">
				<h1><a href="#">FLEXIBLE TIMINGS</a></h1>
				<h2>Lorem ipsum dolor sit amet<h2>
			  <p>Ut ac dolor quis arcu varius consectetur id finibus eros. Duis pretium id ipsum nec ullamcorper.Ut ac dolor quis arcu varius consectetur id finibus eros.</p>
		  </div>
			
			<div class="clr"></div>
            
		</div>
		
		<div class="two mar">
		
			<div class="righticon"> <a href="#"><img src="images\icon2.png" alt="icon"/></a>
			</div>
			
			<div class="rside">
				<h1><a href="#">TRAINED COACHES</a></h1>
				<h2>Lorem ipsum dolor sit amet<h2>
				<p>Ut ac dolor quis arcu varius consectetur id finibus eros. Duis pretium id ipsum nec ullamcorper.Ut ac dolor quis arcu varius consectetur id finibus eros.</p>
			</div>
			
			<div class="clr"></div>
            
		</div>
		
		<div class="clr"></div>
		
		<div class="one">
		
			<div class="lefticon"> <a href="#"><img src="images\icon3.png" alt="icon"/></a>
			</div>
			
			<div class="lside">
				<h1><a href="#">WELL EQUIPPED</a></h1>
				<h2>Lorem ipsum dolor sit amet<h2>
				<p>Ut ac dolor quis arcu varius consectetur id finibus eros. Duis pretium id ipsum nec ullamcorper.Ut ac dolor quis arcu varius consectetur id finibus eros.</p>
			</div>
			
			<div class="clr"></div>
		
		</div>
		
		<div class="two">			
		
			<div class="righticon"> <a href="#"><img src="images\icon4.png" alt="icon"/></a>
			</div>
			
			<div class="rside">
				<h1><a href="#">ACHIEVEMENTS</a></h1>
				<h2>Lorem ipsum dolor sit amet<h2>
				<p>Ut ac dolor quis arcu varius consectetur id finibus eros. Duis pretium id ipsum nec ullamcorper.Ut ac dolor quis arcu varius consectetur id finibus eros.</p>
			</div>
			
			<div class="clr"></div>
		
		</div>
		
		<div class="clr"></div>
		
	</div>
	</article>
	
	<section>
	<div id="testimonial">
		<div class="box back3"></div>
        
		<p><em>" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac dolor quis arcu varius consectetur id finibus eros. Duis pretium id ipsum nec ullamcorper Ut ac dolor quis arcu "</em></p>
	</div>
	</section>
	
	<section>
	<div id="info">
		<h1>GET TO KNOW EVERYTHING ABOUT GYMNASTICS</h1>
		
		<div id="left">
			<h2>CLUB SERVICES</h2>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac dolor quis arcu varius consectetur id finibus eros. Duis pretium id ipsum nec ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac dolor quis arcu varius consectetur id finibus eros. Duis pretium id ipsum nec ullamcorper.</p>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac dolor quis arcu varius consectetur id finibus eros. Duis pretium id ipsum nec ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac dolor quis arcu varius consectetur id finibus eros. Duis pretium id ipsum nec ullamcorper.</p>
		</div>
		
		<div id="right">
			<h2>UPCOMING EVENTS</h2>
			
			<ul>
				<li><a href="#">
					<ul>
						<li><img src="images\play.png" alt="play"/></li>
						<li><p class="date">03.12.2015</p></li>
						<li><p>Ut ac dolor quis arcu varius consectetur</p></li>
					</ul>
				</a>
				</li>
				
				<li><a href="#">
					<ul>
						<li><img src="images\play.png" alt="play"/></li>
						<li><p class="date">03.12.2015</p></li>
						<li><p>Ut ac dolor quis arcu varius consectetur</p></li>
					</ul>
				</a>
				</li>
				
				<li><a href="#">
					<ul>
						<li><img src="images\play.png" alt="play"/></li>
						<li><p class="date">03.12.2015</p></li>
						<li><p>Ut ac dolor quis arcu varius consectetur</p></li>
					</ul>
				</a>
				</li>
				
				<li><a href="#">
					<ul>
						<li><img src="images\play.png" alt="play"/></li>
						<li><p class="date">03.12.2015</p></li>
						<li><p>Ut ac dolor quis arcu varius consectetur</p></li>
					</ul>
				</a>
				</li>
				
				<li><a href="#">
					<ul>
						<li><img src="images\play.png" alt="play"/></li>
						<li><p class="date">03.12.2015</p></li>
						<li><p>Ut ac dolor quis arcu varius consectetur</p></li>
					</ul>
				</a>
				</li>
			</ul>
		</div>
		
		<div class="clr"></div>
        
        
        <div id="left">
        	<a href="#"><img src="images\event1.jpg" alt="event1" width="100%" style="padding-top:5%;"/></a>
        </div>
        
        <div id="right">
        	<a href="#"><img src="images\event2.jpg" alt="event2" width="100%" style="padding-top:5%;"/></a>
        </div>
        
        <div class="clr"></div>
	
	</div>
	</section>
	
	<footer>
	<div id="footnav">
		<div class="boxa">
			<ul>
				<li class="tit"><a href="#"><img src="images\call.png" alt="call"/><h1>CALL US</h1></a><div class="clr"></div></li>
				<li><a href="#">+91-1234567890</a></li>
				<li><a href="#">+91-1234567890</a></li>
			</ul>
		</div>
		
		<div class="boxa">
			<ul>
				<li class="tit"><a href="#"><img src="images\message.png" alt="message"/><h1>E-MAIL US</h1></a><div class="clr"></div></li>
				<li><a href="#">mail@demolink.org</a></li>
				<li><a href="#">contact@demolinl.org</a></li>
			</ul>
		</div>
		
		<div class="boxa">
			<ul>
				<li class="tit"><a href="#"><img src="images\social.png" alt="social"/><h1>SOCIAL</h1></a><div class="clr"></div></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Twitter</a></li>
			</ul>
		</div>
		
		<div class="boxa">
			<ul>
				<li class="tit"><a href="#"><img src="images\location.png" alt="location"/><h1>LOCATION</h1></a><div class="clr"></div></li>
				<li><a href="#">619, LC Road,</a></li>
				<li><a href="#">Pune-03</a></li>
			</ul>
		</div>
		
		<div class="clr"></div>
	</div>
	
	<div id="copy">
		<h1>GYMX<sub>&copy 2015 PRIVACY POLICY</sub></h1>
	</div>
	</footer>

</div>
</section>



</body>

</html>