@media screen and (max-width:480px){
	

*{
	margin:0px;
	padding:0px;
}

body{
	font-family:Verdana, Geneva, sans-serif;
	}
	
.clr{
	clear:both;
}

#wrapper {
	width: 100%;
}

#top{
	width:100%;
	padding:0 10%;
	background:rgba(0, 0, 0, .9);
	display:none;
}

#logo{
	position:absolute;
	top:0;
	left:10%;
	float:none;
}

#logo img{
	box-shadow:0 5px 5px 0 rgba(0,0,0,.3), 0 5px 5px 0 rgba(0,0,0,.15);
}

#menu{
	width:70%;
	float:right;
}

#menu ul{
	list-style-type:none;
	text-align:right;
}
	
#menu ul li{
	display:inline-block;
	padding:1% 0 1% 5%;
}

#menu ul li a{
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;
}

#menu ul li:hover a{
	color:#ac7025;
}

#wrapper #top nav #menu ul li a span{
	color:#ac7025;
}
	
#banner{
	width:100%;
	height:100%;
	padding:5% 10%;
	margin-top:15%;
	background-image:url(../images/banner.jpg);
	background-size:auto;
}

#intro{
	width:100%;
	color:#fff;
	float:none;
	margin:10% 0 0 0;
}

#intro h1{
	font-size:90%;
}

#wrapper #banner #intro span{
	color:#ac7025;
	font-size:200%;
	line-height:160%;
	text-shadow:#CCC;
}

#forma{
	width:100%;
	float:none;
	background:rgba(0, 0, 0, .7);
	padding:5%;
}

#forma form input[type="text"],
#forma form input[type="email"]{
	width:100%;
	padding:4%;
	border:1px solid #ac7025;
	background:url(../images/text-bg.png);
	color:#fff;
}
	
#forma form select{
	padding:4%;
	border:1px solid #ac7025;
	background:url(../images/text-bg.png);
	color:#999;
}

#forma form input[type="date"]{
	padding:1.5% 4%;
	border:1px solid #ac7025;
	background:url(../images/text-bg.png);
	color:#999;
}

.rooms{
	width:45%;
}

.dat{
	width:30%;
}

.formmargin{
	margin:3% 0;
}

.margintop{
	margin-top:3%;
}

.datmargin{
	margin-left:5%;}

.fleft{
	float:left;
}

.fright{
	float:right;
}

#forma form input[type="submit"]{
	width:40%;
	padding:4%;
	border:0;
	margin:5% auto 0 auto;
	background-color:#ac7025;
	text-transform:uppercase;
	font-weight:bold;
	color:#000;
	font-size:105%;
}

#forma form input[type="reset"]{
	padding:4%;
	border:1px solid #ac7025;
	background:rgba(255,255,255);
	text-transform:uppercase;
	font-weight:bold;
	color:#000;
	font-size:105%;
}

#feature{
	width:100%;
	padding:0 0 5% 0;
	text-align:center;
}

#feature h1{
	padding:5% 0;
}

.fbox{
	width:80%;
	display:inline-block;
	position:relative;
	margin-bottom:0;
	margin:2% auto;
}

.boxcaption{
	width:100%;
	position:absolute;
	bottom:0;
	padding:2% 0;
	color:#fff;
	background:rgba(0, 0, 0, .5);
	font-weight:bold;
}

.boxmargin{
	margin-left:0;
}

#footnav{
	width:100%;
	padding:5% 10%;
	background-color:#db9f54;
	text-align:center;
}

#footdesc{
	width:100%;
}

#footnav h4{
	padding:0 0 3% 0;
	font-size:130%;
}

#footnav p{
	font-size:90%;
}

#footlink{
	width:100%;
	padding:5% 0;
}

#footlink ul{
	list-style-type:none;
}

#footlink ul li{
	padding:5% 0;
}

#footlink ul li a{
	text-decoration:none;
	color:#000;
}

#footlink ul li a:hover{
	color:#36caf0;
	}

#social{
	width:100%;
}

#social ul{
	list-style-type:none;
	text-align:center;
}

#social ul li{
	display:inline-block;
	padding:0 2%;
}

#social ul li a{
	text-decoration:none;
}
	
#bottom{
	width:100%;
	text-align:center;
	padding:2% 0;
	background:#000;
	color:#fff;
}




/* ========== Rooms & Tariff ========== */

#rooms{
	width:100%;
	text-align:center;
	margin-top:15%;
}

.main{
	width:80%;
	padding:5% 0;
	margin:0px auto;
	color:#fff;
}

.roombox{
	width:100%;
	display:block;
	text-align:left;
	margin-bottom:0;
}

.roomcaption{
	width:100%;
	padding:5%;
	background:rgba(0, 0, 0, .5);
}

.roommargin{
	margin:5% 0;
}

.roombox h2{
	font-size:140%;
}

.roombox h3{
	width:70%;
	font-size:100%;
	text-align:center;
	background-color:#000;
	padding:2%;
	margin:0px auto;
}

/* ========== Rooms & Tariff End ========== */



/* ========== About Us ========== */

#about{
	text-align:center;
	width:100%;
	margin-top:15%;
}

#about p{
	text-align:left;
	line-height:170%;
	color:#333;
}

#about p span{
	font-size:150%;
	color:#ac7025;
}

/* ========== About Us End ========== */



/* ========== Gallery ========== */

.gallerybox{
	width:100%;
	margin-bottom:5%;
	display:block;
}

.gallerymargin{
	margin-left:0;
}

/* ========== Gallery End ========== */




/* ========== Contact ========== */

#contact{
	text-align:center;
	margin-top:15%;
}

#gmap{
	width:100%;
}

#formb{
	width:100%;
	margin:5% auto;
	font-size:130%;
	color:#333;
	text-align:left;
}

#formb form input[type="text"]{
	width:100%;
	padding:1% 0;
}

#formb form textarea{
	width:100%;
	height:150px;
	padding:1% 0;
}

#formb form input[type="submit"]{
	border:0;
	padding:1% 5%;
}


/* ========== Contact End ========== */	


#resnav{
	display:block;
}

.shownav{
	background-color:#000;
	width:100%;
	height:50px;
}

#reslogo{
	width:30%;
	position:absolute;
	top:0;
	left:5px;
}

#reslogo img{
	box-shadow:0 5px 5px 0 rgba(0,0,0,.3), 0 5px 5px 0 rgba(0,0,0,.15);
}

/* 4:   Navigation
/* ---------------------------------------------- */

.navbar-custom {
    margin-bottom: 0;
    text-transform: none;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 600;
    -webkit-transition: background .5s ease-in-out;
   -moz-transition: background .5s ease-in-out;
        transition: background .5s ease-in-out;
}

.navbar-custom .navbar-brand {
    font-weight: 600;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.navbar-custom .navbar-brand span.brand-logo{
    display: inline-block;
    padding: 14px 0;
    margin: 0 16px;
}


.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 2px 6px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255, 255, 255, .8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, .3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}


/* Custom overlay navigation
/* ---------------------------------------------- */
.button_container {
    position: relative;
    margin-top: 14px;
    height: 28px;
    width: 28px;
    cursor: pointer;
    z-index: 999;
    -webkit-transition: opacity .25s ease;
            transition: opacity .25s ease;
}

/* Animate the top hamburger bar */
.button_container.active .top {
    -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
        -ms-transform: translateY(8px) translateX(0) rotate(45deg);
            transform: translateY(8px) translateX(0) rotate(45deg);
    background: #FFF;
}

/* Set the middle hamburger bar's opacity to 0  */
.button_container.active .middle {
    opacity: 0;
    background: #FFF;
}

/* Animate the bottom hamburger bar */
.button_container.active .bottom {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
        -ms-transform: translateY(-8px) translateX(0) rotate(-45deg);
            transform: translateY(-8px) translateX(0) rotate(-45deg);
    background: #FFF;
}

.button_container span {
    background: #fff;
    border: none;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}

.button_container span:nth-of-type(2) {
    top: 8px;
}

.button_container span:nth-of-type(3) {
    top: 16px;
}

/* The overlay */
.overlay {
    position: fixed;
    display: block; 
    background: #ac7025;
    top: 0;
    border: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
            transition: opacity .35s, visibility .35s, height .35s;
    overflow: auto;
}

.overlay.open {
    opacity: .95;
    visibility: visible;
    height: 100%;
}

.overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
            animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
        animation-delay: .35s;
}

.overlay.open li:nth-of-type(1) {
    -webkit-animation-delay: .40s;
            animation-delay: .40s;
}

.overlay.open li:nth-of-type(2n) {
    -webkit-animation-delay: .50s;
            animation-delay: .50s;
}

.overlay nav {
    position: relative;
    height: 50%;
    top: 50%;
    font-size: 30px;
    font-family:Verdana, Geneva, sans-serif;
    text-transform: none;
    font-weight: 600;
    text-align: center;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay ul li {
    display: block;
    height: 15%;
    height: calc(100% / 8);
    min-height: 65px;
    position: relative;
    opacity: 0;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
    width: 50%;
}

/* Link underline on hover */
.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: #fff;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: .15s;
            transition: .15s;
}


/* 11.  CSS3 Animations
/* ---------------------------------------------- */

/* Hero unit mouse animation */

@-webkit-keyframes rotateplane { 
    0% {
        -webkit-transform: translateY(-2px)
    }

    100% {
        -webkit-transform: translateY(7px)
    }
}

@keyframes rotateplane { 
    0% {
        transform: translateY(-2px);
        -webkit-transform: translateY(-2px);
    }

    100% {
        transform: translateY(7px);
        -webkit-transform: translateY(7px);
    }
}


/* Navigation link animation */

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}


	
}