<html>
<head>
	<title>Charity</title>
	<meta name="viewport" content="width=device-width,initial scale=1">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" type="text/css" href="responsive.css">
</head>

<body>

<div id="wrapper">

<div id="line">
	<img src="images\Template-Charity_02.jpg" width="100%"/>
</div>

<div id="header">

	<div id="logo">
		<img src="images\logo.png" alt="logo"/>
	</div>
	
	<div id="social">
		<div id="twitter">
			<img src="images\twitter.png" alt="twitter"/>
		</div>
		
		<div id="messbox">
			<p>Follow us on <a href="#0">Twitter</a></p>
		</div>
		
		<div style="clear:both;"></div>
	</div>
	
	<div style="clear:both;"></div>

</div>

<div id="main">

	<div id="mainnav">
		<div id="nav">
		
			<ul>
			<li class="actli"><a href="#0"><span class="act">Home</span></a></li>
			<li class="bor"><a href="#0">About</a></li>
			<li class="bor"><a href="#0">Our Charities</a></li>
			<li class="bor"><a href="#0">Programs</a></li>
			<li class="bor"><a href="#0">Blog</a></li>
			<li class="last"><a href="#0">Contact</a></li>
			</ul>
		
		</div>
	</div>

	<div id="banner">
		<div id="bannertxt">
			<h1>Dec 03,2015</h1>
			<h2>Lorem ipsum set
dolor sit amet</h2>
			<p>Lorem ipsum dolor sit amet, conse
 lobortis turpis. Class aptent taciti 
terdum nec, venenatis at eros. Ali
os quis augue sagittis pellentesqu
facilisis at dolor. Vivamus mattis l
eo a sem gittis.</p>

			<a href="#" class="button"><span>Read more</span></a>
		</div>
		
		<div style="clear:both"></div>	
	</div>
	
	
	<div id="moto">
	
		<div id="mission">
		
			<img src="images\Template-Charity_20.jpg" alt="Mission" width="36%"/>
			<h1>Mission & Services</h1>
			<p style="clear:both">Lorem ipsum dolor sit amet, conseloortis turpis. Class aptent tacitkiivenenatis at erozgum mdghgs.</p>
			<a href="#0"><img src="images\arrow.png" alt="Arrow" style="float:right; margin-right:5%;"/></a>
		</div>
		
		<div id="donation">
		
			<img src="images\Template-Charity_22.jpg" alt="Donation" width="36%"/>
			<h1>Make Donations</h1>
			<p style="clear:both">Lorem ipsum dolor sit amet, conseloortis turpis. Class aptent tacitkiivenenatis at erozgum mdghgs.</p>
			<a href="#0"><img src="images\arrow.png" alt="Arrow" style="float:right; margin-right:5%;"/></a>
		
		</div>
		
		<div id="program">
		
			<img src="images\Template-Charity_17.jpg" alt="Program" width="22.5%"/>
			<h1>Our Programs</h1>
			<p style="clear:both">Lorem ipsum dolor sit amet, conseloortis turpis. Class aptent tacitkiivenenatis at erozgum mdghgs.</p>
			<a href="#0"><img src="images\arrow.png" alt="Arrow" style="float:right; margin-right:5%;"/></a>
		
		</div>
		
		<div style="clear:both;"></div>
	
	</div>
	
	
	
	<div id="services">
	
		<div id="about">
		
			<h1>About Us</h1>
			<p><span class="colour">Lorem ipsum dolor sit amet, consehgrs lhllobortisp turpis.</span></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id mattis nunc, tincidunt lobortis turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus dui nisi, tincidunt a interdum nec, venenatis at eros. Aliquam vehicula ipsum quis varius luctus. Donec a eros quis augue sagittis pellen</p>
			<p style="padding-bottom:40px;">tesque. Praesent id porta lectus. Quisque imperdiet facilisis nisl. Vivamus lacus sem, fringilla at commodo et, facilisis at dolor. Vivamus mattis leo a sem dictum, eget auctor nibh sagittis.Aliquam vehicula ipsum quis varius luctus. Donec a eros quis augue sagittis pellentesque. Praesent id porta lectus. Quisque imperdiet facilisis nisl. </p>
		<a href="#" class="button" style="background-color:#c2d007;"><span>Read more</span></a>
		</div>
		
		
		
		<div id="events">
		
			<h1>Our Events</h1>
			
			<div id="eveone">
				<p class="colour">Lorem ipsum dolor sit amet</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id mattis nunc.... 
				<img src="images\sarrow.png" alt="SArrow" style="float:right; padding-right:10%;"/>
				</p>
				
				<div style="clear:both;"></div>				
			</div>
			
			<div id="evetwo">
				<p class="colour">Lorem ipsum dolor sit amet</p>
				<p class="dotted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id mattis nunc.... 
				<img src="images\sarrow.png" alt="SArrow" style="float:right; padding-right:10%;"/>
				</p>
				
				<div style="clear:both;"></div>
			</div>
			
			<div id="evethree">
				<p class="colour">Lorem ipsum dolor sit amet</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id mattis nunc.... 
				<img src="images\sarrow.png" alt="SArrow" style="float:right; padding-right:10%;"/>
				</p>
				
				<div style="clear:both;"></div>
			</div>
			
			<div id="evebutt">
			<a href="#" class="button" style="background-color:#7cd9fc;"><span>Read more</span></a>
			</div>
		</div>
		
		
		<div id="news">
		
			<h1>Latest News</h1>
			<div id="newsone">
			
				<div id="nimgone">
					<img src="images\Template-Charity_28.jpg" alt="News Image"/>
				</div>
				<div id="ntxtone">
					<p class="p">November 18, 2015</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id mattis nunc, tincidunt lobortis. </p>
				</div>
				<div style="clear:both;"></div>
			</div>
			
			<div id="newstwo">
				<div id="nimgtwo">
					<img src="images\Template-Charity_32.jpg" alt="News Image"/>
				</div>
				<div id="ntxttwo">
					<p class="p">December 15, 2015</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id mattis nunc, tincidunt lobortis. </p>
				</div>
				<div style="clear:both;"></div>
			</div>
		
			<div id="newsbutt">
			<a href="#" class="button" style="background-color:#fb8856;"><span>Read more</span></a>
			</div>
			
		</div>
		
		<div style="clear:both;"></div>
	
	</div>
	
<div id="navfooterm">
	<div id="navfooter">
	
		<ul>
			<li><a href="#0">Home</a></li>
			<li><a href="#0">About</a></li>
			<li><a href="#0">Our Charities</a></li>
			<li><a href="#0">Programs</a></li>
			<li><a href="#0">Blog</a></li>
			<li><a href="#0">Contact</a></li>
		</ul>
	
	</div>
</div>
	
	<div id="footer">Charity &copy 2015. Privacy Policy</div>
	
</div>

</div>

</body>
</html>