<!DOCTYPE html>
<head>
	<title>Bike</title>
	
<meta name="viewport" content="width=device-width,initial scale=1">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="responsive.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>

<section>
<div id="wrapper">

<header>

	<div id="login">
			<ul>
			<li><a href="#">LOGIN</a></li>
			<li><select name="">
			  <option value="eng">ENGLISH</option>
			  <option value="Esp">SPANISH</option></select>
            </li>
			
            <li><select name="">
			  <option value="eng">CURRENCY Rs.</option>
			  <option value="Esp">CURRENCY $</option></select>
            </li>
			</ul>
	</div>

<div id="top">
	
	<div id="logo">
		<a href="http://index.html"><h1>MOTO</h1></a>
	</div>
	
	
	<div id="cart">
		<div id="crt">
			<i class="fa fa-cart-arrow-down fa-2x"></i>
			<h1>0</h1>
		</div>
		
		<div id="search">
			<input type="search" placeholder="Search..."></input>
			<i class="fa fa-search fa-2x" style="display:inline;"></i>
		</div>
		
		<div class="clr"></div>
	</div>
	
		<nav>
		<div id="menu">
			<ul class="bor">
			<li><a href="#"><span class="active">HOME</span></a></li>
			<li><a href="#">HELMETS</a></li>
			<li><a href="#">RIDING GEARS</a></li>
			<li><a href="#">PARTS</a></li>
			<li><a href="#">ACCESSORIES</a></li>
			<li><a href="#">TYRES</a></li>
			<li><a href="#">CUSTOMER SERVICE</a></li>
			</ul>
		</div>
		</nav>

	
	
	
	<div class="clr"></div>

</div>

</header>

<section>
<div id="banner">
	<img src="images/banner.jpg" width="100%"/>
    <div id="intro">
    	<p>Welcome to the world of</p>
        <h1>BIKERS...</h1>
    </div>
</div>
</section>

<section>
<a href="#0"><div class="content c1">

	<h1>BIKE <br> CLOTHING</h1>

</div></a>

<a href="#0"><div class="content c2">

	<h1>BIKE <br> HELMETS</h1>

</div></a>

<a href="#0"><div class="content c3">

	<h1>BIKE <br> PARTS</h1>

</div></a>

<div class="clr"></div>

</section>


<section>
<div id="wow">

	<h1>WOOOW!</h1>
	
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

</div>
</section>

<section>
<div id="filter">

		<ul>
			<li><a href="#"><span class="fact">POPULAR</span></a></li>
			<li><a href="#">NEW ARRIVALS</a></li>
			<li><a href="#">BEST SELLERS</a></li>
			<li><a href="#">SPECIALS</a></li>
		</ul>

</div>
</section>


<section>
<div id="prod">

	<ul>
		<li>
		<ul>
			<li class="product">
				<a href="#0"><img src="images/p1.jpg" alt="P1" width="100%"/>
				<h2>Helmet</h2>
				<h1>$34.00</h1>
				<h3><del>$42.00</del></h3>
				<h4>15%</h4>
				<div class="clr"></div></a>
			</li>
			
			<li class="product">
				<a href="#0"><img src="images/p2.jpg" alt="P2" width="100%"/>
				<h2>Chest Armor</h2>
				<h1>$34.00</h1></a>
			</li>
			
			<li class="product">
				<a href="#0"><img src="images/p3.jpg" alt="P3" width="100%"/>
				<h2>Knee Guard</h2>
				<h1>$34.00</h1></a>
			</li>
			
			<li class="product">
				<a href="#0"><img src="images/p4.jpg" alt="P4" width="100%"/>
				<h2>Helmet</h2>
				<h1>$34.00</h1></a>
			</li>
		</ul>
		</li>
		
		
		<li>
		<ul>
			<li class="product">
				<a href="#0"><img src="images/p5.jpg" alt="P5" width="100%"/>
				<h2>Gloves</h2>
				<h1>$34.00</h1>
				<h3><del> $42.00 </del></h3>
				<h4>15%</h4>
				<div class="clr"></div></a>
			</li>
			
			<li class="product">
				<a href="#0"><img src="images/p6.jpg" alt="P6" width="100%"/>
				<h2>Boots</h2>
				<h1>$34.00</h1></a>
			</li>
			
			<li class="product">
				<a href="#0"><img src="images/p7.jpg" alt="P7" width="100%"/>
				<h2>Jacket</h2>
				<h1>$34.00</h1></a>
			</li>
			
			<li class="product">
				<a href="#0"><img src="images/p8.jpg" alt="P8" width="100%"/>
				<h2>Boots</h2>
				<h1>$34.00</h1></a>
			</li>
		</ul>
		</li>
	</ul>


</div>
</section>


<section>
<div id="blog">

	<h1>BLOG</h1>
	
		<h2>Customer XYZ, Place<br>
        <sub>2015-12-03 12:12:12</sub></h2>
        
		<p>" Morbi gravida finibus felis, sed fringilla orci tristique utroin pulvinar fringilla erat, hendrerit porta ligula tempus sedorbi gravida finibus felis,ill Proin pulvinar fringilla erat, hendrerit porta ligula a erat, hendrerit porta ligula tempus sed "</p>
		
		<input type="button" value="Read More">
	
</div>
</section>

<section>
<div id="news">
	<h1>NEWSLETTER</h1>
    <form>
      <input type="email" id="text1" placeholder="Enter your e-mail...">
      <input type="submit" value="OK">
    </form>
	<div class="clr"></div>
</div>
</section>


<div id="footnav">
	
	<ul> INFORMATION
	
	<li class="ligap"><a href="#">SPECIALS</a></li>
	<li><a href="#">NEW PRODUCTS</a></li>
	<li><a href="#">TOP SELLERS</a></li>
	<li><a href="#">OUR STORES</a></li>
	<li><a href="#">CONTACT US</a></li>
	<li><a href="#">ABOUT US</a></li>
	<li><a href="#">SITEMAP</a></li>
	</ul>  
	
	<ul> MY ACCOUNT
	<li class="ligap"><a href="#">MY ORDERS</a></li>
	<li><a href="#">MY MERCHANDISE</a></li>
	<li><a href="#">MY CREDITS</a></li>
	<li><a href="#">MY ADDRESS</a></li>
	<li><a href="#">MY PERSONAL INFO</a></li>
	</ul>  
	
	<ul> FOLLOW US
	<li class="ligap"><a href="#">FACEBOOK</a></li>
	<li><a href="#">TWITTER</a></li>
	<li><a href="#">RSS</a></li>
	<li><a href="#">YOUTUBE</a></li>
	<li><a href="#">GOOGLE PLUS</a></li>
	<li><a href="#">PINTEREST</a></li>
	</ul>
	
	<ul> STORE INFORMATION
	<li class="ligap"><a href="#"><img src="images\location.png" width=7% class=" imggap"/> LC ROAD, PUNE-12</a></li>
	<li><a href="#"><img src="images\phone.png" width=7% class=" imggap"/> +91-1234567890</a></li>
	<li><a href="#"><img src="images\message.png" width=7% class=" imggap"/> abc@pqr.com</a></li>
	</ul>  

</div>


<footer>
<div id="bottom">
	<h1><span class="bot">MOTO</span> &copy 2015 | Privacy Policy</h1>
</div>
</footer>

</div>
</section>

</body>
</html>