<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cook Chef</title>
<meta name="viewport" content="width=device-width,initial scale=1">
<link rel="stylesheet" type="text/css" href="styles.css">
<link rel="stylesheet" type="text/css" href="responsive.css">
<script src="SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
<link href="SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css">
</head>

<body>

<section>
<div id="wrapper">

<header>
<div id="top">

<div id="logo">
	<img src="images\Template-ChefCook_02.png" alt="logo"/>
</div>

<nav>
<div id="menu">
	<ul>
    		<li><a href="#"><span>Home</span></a></li>
            <li><a href="#">Menu <img src="images\Template-ChefCook_10.jpg"/></a>
				<ul>
					<li><a href="#">Veg</a></li>
					<li><a href="#">Non-veg</a></li>
					<li><a href="#">Sea-food</a></li>
                    <li><a href="#">Continental</a></li>
				</ul>
			</li>
            <li><a href="#">Recepies</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
    </ul>
</div>
</nav>

</div>
</header>


<section>
<div id="banner">
	<img src="images\Template-ChefCook_14.jpg" alt="banner"/>
    <div id="bannerin"><h1><em>Perfect taste</em></h1></div>
</div>
</section>

<section>
<div id="main">
	<div id="welcome">
    	<img src="images\Template-ChefCook_18.jpg" alt="chef"/>
        <h1>Welcome!</h1>
        <p><em>We are gourmet restaurant, where preference is given to the most refined ingredients.</em></p>
        <h2><a href="#">more...</a></h2>
		<div class="clr"></div>
    </div>
    
    <div id="new">
    	<img src="images\Template-ChefCook_03.gif" alt="dish"/>
        <h1>What's new?</h1>
        <p><em>New entries in our menu will pleasantly surely surprise and delight you. Try it once!</em></p>
        <h2><a href="#">more...</a></h2>
    </div>
	
	<div class="clr"></div>
	
</div>
</section>

<section>
<div id="content">
	
    <div class="product nomar">
    	<div class="bor"></div>
        
        <div class="innerprod">
        	<img src="images\Template-ChefCook_25.gif" alt="product1" width="100%"/>
            <h1>Grill Menu</h1>
            <p>Our chefs are ready to offer you the freshest dishes. Many side dishes for our main courses we also cookon the grill.</p>
            <input name="dsubmit" type="submit" value="More">
            <div class="clr"></div>
        </div>
        
        <img src="images\Template-ChefCook_12.jpg"/>
    </div>
    
    <div class="product">
    	<div class="bor"></div>
        
        <div class="innerprod">
        	<img src="images\Template-ChefCook_27.jpg" alt="product2" width="100%"/>
            <h1>Popular Salads</h1>
            <p>Choose from a wide variety of classic and original recipes, that are ideal for the beginning of the meal.</p>
            <input name="dsubmit" type="submit" value="More">
            <div class="clr"></div>
        </div>
        
        <img src="images\Template-ChefCook_12.jpg"/>
    </div>
    
    <div class="product">
    	<div class="bor"></div>
        
        <div class="innerprod">
        	<img src="images\Template-ChefCook_29.jpg" alt="product3" width="100%"/>
            <h1>Fresh Recipies</h1>
            <p>Recipes from our culinary site will help you build a reputation of a professional chef. You'll be proud of yourself !</p>
            <input name="dsubmit" type="submit" value="More">
            <div class="clr"></div>
        </div>
        
        <img src="images\Template-ChefCook_12.jpg"/>
    </div>
    
    <div class="product">
    	<div class="bor"></div>
        
        <div class="innerprod">
        	<img src="images\Template-ChefCook_31.jpg" alt="product4" width="100%"/>
            <h1>Top Desserts</h1>
            <p>For dessert we offer masterpieces of confectionary art - succulent cakes, classic desserts, ice cream and so on.</p>
            <input name="dsubmit" type="submit" value="More">
            <div class="clr"></div>
        </div>
        
        <img src="images\Template-ChefCook_12.jpg"/>
    </div>
    
</div>
</section>

<section>
<div id="combo">

	<article>
    <div id="art">
    	<h1>WE'LL FEAST YOU AND TEACH YOU HOW TO COOK SOMETHING
DELICIOUS</h1>
        <p>we are not only a school for those, whose dream os to become a chef, but also a restaurant, where our students will feast our guests with something amazingly tasty.</p>
        <input name="dsubmit" type="submit" value="More">
        <div class="clr"></div>
    </div>
    </article>
    
    <aside>
    <div id="links">
    
    	<h1>Useful Links</h1>
        
        <ul>
        	<li><a href="#">Mischeline competiton</a></li>
            <li><a href="#">Italian cuisine</a></li>
            <li><a href="#">French cuisine</a></li>
            <li><a href="#">Chinese cuisine</a></li>
            <li><a href="#">Ukrainian cuisine</a></li>
            <li><a href="#">Russian cuisine</a></li>
            <li><a href="#">Japanese cuisine</a></li>
            <li><a href="#">Turkish cuisine</a></li>
        </ul>
    
    </div>
    </aside>
    
    <section>
    <div id="forma">
    	<h1>Quick message</h1>
        
        <form action="" method="post">
          
          <span id="sprytextfield1">
          <input name="dname" placeholder="Your Name" type="text">
          <span class="textfieldRequiredMsg">A value is required.</span>
          
          <span class="textfieldMinCharsMsg">Minimum number of characters not met.</span></span><span id="sprytextfield2">
          <input name="demail" placeholder="Your Email*" type="text">
          <span class="textfieldRequiredMsg">A value is required.</span><span class="textfieldInvalidFormatMsg">Invalid format.</span></span>
          
          <textarea name="dmsg" placeholder="Message"></textarea>

			<input name="dsubmit" type="submit" value="Send">
		</form>
        
    </div>
    </section>
    
    <div class="clr"></div>

</div>
</section>


<footer>
<div id="bottom">

	<div id="social">
    
    	<h1>Social Networks :</h1>
        <a href="#"><img src="images\Template-ChefCook_38.jpg" alt="facebook"/></a>
        <a href="#"><img src="images\Template-ChefCook_40.jpg" alt="google+"/></a>
        <a href="#"><img src="images\Template-ChefCook_42.jpg" alt="twitter"/></a>
        <a href="#"><img src="images\Template-ChefCook_44.jpg" alt="instagram"/></a>
<div class="clr"></div>
	
    </div>

	<div id="copyright">
    	<img src="images\Template-ChefCook_05.png" alt="logo1"/>
        <h1>&copy 2015 | Privacy Policy</h1>
		
    </div>
    
    <div class="clr"></div>

</div>
</footer>


</div>
</section>
<script type="text/javascript">
var sprytextfield1 = new Spry.Widget.ValidationTextField("sprytextfield1", "none", {validateOn:["blur", "change"], minChars:1});
var sprytextfield2 = new Spry.Widget.ValidationTextField("sprytextfield2", "email", {validateOn:["blur", "change"]});
</script>
</body>
</html>
